.app-footer {
    width: 100%;
    background-color: $bgc-1;
    height: 120px;
    z-index: 1;
    bottom: 0;
    position: fixed;
    // width: 100%;
    // position: fixed;
    // width: 100vw;
    // height: 400px;
    // bottom: -200px;
    // border-radius: 50%;


    // background: #FFE4E8;


}