* {
    box-sizing: border-box;
}

html {
    font-family: poppins-Regular;
    line-height: 1.6;
    color: $clr-font;
}

body {
    font-size: rem(18px);
    margin: 0;
    // max-width: 1024px;
    margin: auto;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: poppins-Regular;
    margin: 0 0 0.6em;
    line-height: 1;
}

section,
main,
footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 0.05px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}