.chat-container {
  // height: 90vh;
  width: 100%;

  .msgs-container {
    margin-top: 80px;
    overflow: auto;
    position: relative;
    margin-bottom: 180px;
  }

  .msg-container {
    display: flex;
    margin-bottom: 30px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }

    span {
      margin-right: 10px;
      display: block;
      font-size: 1rem;
      font-family: poppins-Medium;
      color: $prm-clr4;

    }

    .bubble {
      color: $clr-font-sec;
      position: relative;
      background-color: $prm-clr2;
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      max-width: 80%;
      min-width: 50px;
    }

    .bubble::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 10px;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent $prm-clr2 transparent transparent;
    }

    .bubble::after {
      content: "";
      position: absolute;
      right: 100%;
      top: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 0;
      border-color: $prm-clr2 transparent transparent transparent;
    }
  }

  form {
    display: flex;
    background-color: pink;
    width: 100%;

    .type-your-msg {
      position: fixed;
      bottom: 120px;
      padding-left: 40px;
      width: 90%;
      z-index: 2;

      .typing-msg {
        padding: 5px;
        color: $clr-font-sec;
        font-family: poppins-Regular;
        font-size: 1rem;
        width: 90%;

      }
    }

    .type-your-msg-input {
      padding: 10px;
      width: 95%;
      border: 1px solid $prm-clr3;
      border-radius: 10px;
      // width: 80vw;
    }
  }

  @media screen and (max-width: 700px) {
    .msgs-container {
      margin-left: -35px;
    }

    .type-your-msg-input {
      margin-left: -35px;
    }
  }
}