.user-details {
    margin-top: 80px;

    .user-profile-img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin: 2vh 0 4vh 0;
    }
}