.gather-edit {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: left;
  align-self: flex-start;
  margin-bottom: 0;
}

form {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  color: $clr-font-sec;
  margin-bottom: 7px;
  display: inline-block;
  width: 100%;
}

input {
  width: 100%;
  height: 50px;
  border: 1px solid $prm-clr3;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: poppins-Regular;
}

.button-add {
  background-color: $prm-clr1;
  color: $bgc-1;
  width: 327px;
  height: 50px;
  font-family: poppins-Medium;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  margin-bottom: 150px;
  border-radius: 16px;
}

.button-add:hover {
  background-color: $bgc-1;
  border: 1px solid $prm-clr1;
  color: $prm-clr1;
}