@font-face {
    // font-family: caveat;
    // src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}

@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: poppins-Bold;
    src: url(../../styles/fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-Medium;
    src: url(../../styles/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-Regular;
    src: url(../../styles/fonts/poppins/Poppins-Regular.ttf);
}