// Colors
$prm-clr1: #FF6079;
$prm-clr12: #AD4253;
$prm-clr11: #ffdfe4;
$prm-clr13: rgb(255, 96, 121, 0.2);
$prm-clr2: #FFE4E8;


$prm-clr-trans: rgb(255, 228, 232, 0.5);

$prm-clr3: #E9EDF7;
$prm-clr4: #000000;
$bgc-1: #FFFFFF;
$clr-font: #040415;
$clr-font-sec: #7F7F7F;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;